{% extends "base.html" %}

{% block content %}

<!-- Header Section -->
<div class="container">
    <header class="row">
        <div class="col-12 col-md-6" id="header-text">
            <h2>Build your own Music Library!</h2>
            <h5>Except not really because it's all virtual and just pictures of albums! Also you can rate and review them! (Maybe?) Let's remake RateYourMusic!</h5>
            <div>
                <button class="btn btn-primary">Join Our Dicsord</button>
            </div>
        </div>
        <!-- Header Image -->
        <div class="col-12 col-md-6">
            <img src="../../static/images/landing-hero.jpeg" alt="Hero Header Image" class="header-image">
        </div>
    </header>
    <!-- End of our header section -->

    <!-- Start of Middle Section -->
    <section class="row">
    <div class="col-12" id="middle-text">
        <h2>Display Your Collection!</h2>
        <p>You can harness the power of an API to expand your collection!</p>
    </div>
</section>

    <!-- End of Middle Section -->

    <!-- Collection of features -->
    <section class="row" id="features-section">
        <div class="col-12 col-md-4">
            <img src="../../static/images/api.png" alt="API image" id="api-image">
            <h4>I don't know what will go here!</h4>
            <p>
                If you are a fan of using Traditional API routes, we have those for you too!
            </p>
        </div>
        <div class="col-12 col-md-4">
            <img src="../../static/images/graphql.png" alt="graphql-image" id="graphql image">
            <h4>GRAPHQL API Route</h4>
            <p>
                If you want ALL data from one endpoint, we have that too!
            </p>
        </div>
        <div class="col-12 col-md-4">
            <img src="../../static/images/db.png" alt="database image" id="database-image">
            <p>
                ALL data will be persisted inside of a secure Postgres Database
            </p>
        </div>
    </section>
    <!-- End of Collection of Features -->
    <!-- Begin Community Section -->
    <section class="row">
        <div class="col-12 col-md-6">
            <img src="../../static/images/Music_concert_heart.jpeg" alt="Drone Image" id="drone-image">
        </div>
        <div class="col-12 col-md-6">
            <h4>Talk with like-minded music enjoyers!</h4>
            <p>
                Talk with other devs around the world and collab on projects with your data. Join our Discord Server
                and give a start to the project on Github!
            </p>
            <div>
                <button class="btn btn-primary">View on Github</button>
                <button class="btn btn-primary">Join Our Discord Server</button>
            </div>
        </div>
    </section>
    <!-- End of Community Section -->
    <!-- Start of Footer -->
    <footer class="row" id="footer">
        <div class="col-2 col-md-2">
            <img src="../../static/images/music_logo.png" alt="Coding Drones Logo" id="footer-logo">
        </div>
        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Coding Drones?</p>
                <p>The Coding Drones Project</p>
                <p>Donate</p>
                <p>Spread The Good Word</p>
                <p>Our Process</p>
            </div>
        </div>
        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Coding Drones?</p>
                <p>The Coding Drones Project</p>
                <p>Donate</p>
                <p>Spread The Good Word</p>
                <p>Our Process</p>
            </div>
        </div>
        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Coding Drones?</p>
                <p>The Coding Drones Project</p>
                <p>Donate</p>
                <p>Spread The Good Word</p>
                <p>Our Process</p>
            </div>
        </div>
        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Coding Drones?</p>
                <p>The Coding Drones Project</p>
                <p>Donate</p>
                <p>Spread The Good Word</p>
                <p>Our Process</p>
            </div>
        </div>
        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Coding Drones?</p>
                <p>The Coding Drones Project</p>
                <p>Donate</p>
                <p>Spread The Good Word</p>
                <p>Our Process</p>
            </div>
        </div>
    </footer>
</div>


{% endblock content %}